In [1]:
import pandas as pd

In [2]:
tags = pd.read_csv('ml-25m/tags.csv')
ratings = pd.read_csv('ml-25m/ratings.csv')
tags.head(2)

   userId  movieId      tag   timestamp
0       3      260  classic  1439472355
1       3      260   sci-fi  1439472256

In [14]:
movies = pd.read_csv('ml-25m/movies.csv')
print(movies.shape) #电影数量
movies.head(5)

(62423, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [36]:
links = pd.read_csv('ml-25m/links.csv')
print(links.shape)
print(links['imdbId'].value_counts().shape)
print(links['tmdbId'].value_counts().shape)
links.head(5)

(62423, 3)
(62423,)
(62281,)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [29]:
genome_tags = pd.read_csv('ml-25m/genome-tags.csv')
print(genome_tags.shape)
genome_tags.head(5)

(1128, 2)

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [21]:
links['movieId'].value_counts().shape #links中的电影数量

(62423,)

In [3]:
tags.shape #标签的数量

(1093360, 4)

In [4]:
tags['userId'].value_counts().shape #打标签的用户数

(14592,)

In [18]:
tags['movieId'].value_counts().shape #被打标签的电影数

(45251,)

In [5]:
ratings.head(5)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [6]:
ratings['time'] = pd.to_datetime(ratings['timestamp'], unit='s') #将timestamp中的时间戳转化为datetime
ratings.head(5)

   userId  movieId  rating   timestamp                time
0       1      296     5.0  1147880044 2006-05-17 15:34:04
1       1      306     3.5  1147868817 2006-05-17 12:26:57
2       1      307     5.0  1147868828 2006-05-17 12:27:08
3       1      665     5.0  1147878820 2006-05-17 15:13:40
4       1      899     3.5  1147868510 2006-05-17 12:21:50

In [11]:
ratings.loc[0, 'time'].strftime('%Y')

'2006'

In [12]:
ratings['year'] = ratings['time'].map(lambda x : x.strftime('%Y')) #将打分时间中的年提取出来
ratings.head(5)

   userId  movieId  rating   timestamp                time  year
0       1      296     5.0  1147880044 2006-05-17 15:34:04  2006
1       1      306     3.5  1147868817 2006-05-17 12:26:57  2006
2       1      307     5.0  1147868828 2006-05-17 12:27:08  2006
3       1      665     5.0  1147878820 2006-05-17 15:13:40  2006
4       1      899     3.5  1147868510 2006-05-17 12:21:50  2006

In [22]:
type(ratings.loc[0, 'year'])

str

In [13]:
ratings.to_csv('ml-25m/ratings_new.csv')

In [6]:
ratings['userId'].value_counts().shape #ratings 中打分的用户数

(162541,)

In [17]:
ratings['movieId'].value_counts().shape # ratings中被打分的电影数

(59047,)

In [7]:
ratings.shape

(25000095, 4)

In [33]:
ratings_2018 = ratings[ratings['year'] == '2018']
ratings_2018['userId'].value_counts().shape[0]

12001

1.一共有多少用户

In [35]:
print('一共有 %d 用户' %(ratings['userId'].value_counts().shape[0]))

一共有 162541 用户

2.一共有多少电影

In [27]:
print('一共有 %d 部电影' %(movies.shape[0]))

一共有 62423 部电影

3.一共有多少不同的电影种类

In [30]:
print('一共有 %d 种不同的电影种类' %(genome_tags.shape[0]))

一共有 1128 部电影

4.一共有多少电影没有外部链接

In [38]:
print('一共有 %d 部电影没有外部链接' %(movies.shape[0] - links['tmdbId'].value_counts().shape[0]))

一共有 142 部电影没有外部链接

5.2018年一共有多少人进行过电影评分

In [34]:
print('2018年一共有 %d 人进行过电影评分' %(ratings_2018['userId'].value_counts().shape[0]))

2018年一共有 12001 人进行过电影评分